<style>
.message-content {
  font-family: :Arial, Helvetica, sans-serif;
  max-width:600px;
  font-size:18px;
  line-height: 21px;

}
</style>
<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Seems you request to change your password</p>
  <p>If were you, click on the link below to choose a new password</p>
  <p>
    <a href="{{link}}"> Reset Password</a>
  </p>
  <p>If weren't you, ignore this email</p>
  <p>Thank you! <br/>
  <strong>GoBarber Team</strong></p>
</div>
